<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CircularProgressBar" version="2.8.0.16" targetFramework="net472" />
  <package id="Costura.Fody" version="4.1.0" targetFramework="net472" />
  <package id="Crc32.NET" version="1.2.0" targetFramework="net472" />
  <package id="CyotekTabList" version="2.0.0" targetFramework="net472" />
  <package id="diskdetector-net" version="0.3.2" targetFramework="net472" />
  <package id="Fody" version="6.3.0" targetFramework="net472" developmentDependency="true" />
  <package id="HTAlt.Standart" version="0.1.6" targetFramework="net472" />
  <package id="HTAlt.WinForms" version="0.1.6" targetFramework="net472" />
  <package id="Magick.NET.Core" version="6.1.2" targetFramework="net472" />
  <package id="Magick.NET-Q8-AnyCPU" version="7.23.2.1" targetFramework="net472" />
  <package id="Microsoft-WindowsAPICodePack-Core" version="1.1.4" targetFramework="net472" />
  <package id="Microsoft-WindowsAPICodePack-Shell" version="1.1.4" targetFramework="net472" />
  <package id="NvAPIWrapper.Net" version="0.8.0.98" targetFramework="net472" />
  <package id="PagedControl" version="2.2.0" targetFramework="net472" />
  <package id="Standart.Hash.xxHash" version="3.1.0" targetFramework="net472" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net472" />
  <package id="System.Data.HashFunction.Core" version="2.0.0" targetFramework="net472" />
  <package id="System.Data.HashFunction.Interfaces" version="2.0.0" targetFramework="net472" />
  <package id="System.Drawing.Common" version="5.0.0" targetFramework="net472" />
  <package id="System.Management" version="5.0.0" targetFramework="net472" />
  <package id="System.Memory" version="4.5.4" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.7.1" targetFramework="net472" />
  <package id="System.Runtime.Numerics" version="4.3.0" targetFramework="net472" />
  <package id="System.Security.Claims" version="4.3.0" targetFramework="net472" />
  <package id="System.Security.Principal.Windows" version="4.3.0" targetFramework="net472" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.3" targetFramework="net472" />
  <package id="TabControl" version="2.1.2" targetFramework="net472" />
  <package id="Win32Interop.Dwmapi" version="1.0.1" targetFramework="net472" />
  <package id="Win32Interop.Gdi32" version="1.0.1" targetFramework="net472" />
  <package id="Win32Interop.Kernel32" version="1.0.1" targetFramework="net472" />
  <package id="Win32Interop.User32" version="1.0.1" targetFramework="net472" />
  <package id="Win32Interop.Uxtheme" version="1.0.1" targetFramework="net472" />
  <package id="WindowsAPICodePack-Core" version="1.1.1" targetFramework="net472" />
  <package id="WindowsAPICodePack-Shell" version="1.1.1" targetFramework="net472" />
  <package id="WinFormAnimation" version="1.6.0.4" targetFramework="net472" />
</packages>